### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
.gitignore
__pychache__/*
.game_engine.cpython-38.pyc
.menu.cpython-38.pyc